openapi: 3.0.1
info:
  title: Fingoti API
  version: v1
servers:
- description: Fingoti Production API
  url: https://api.fingoti.com
security:
- Bearer: []
tags:
- description: Manage your Fingoti devices.
  name: Device
- description: Manage your device pin following rules.
  name: Followings
- description: Manage your Fingoti organisation.
  name: Organisation
- description: Download Fingoti account reports.
  name: Report
- description: Manage your Fingoti user.
  name: User
- description: Manage your Fingoti webhooks.
  name: Webhook
paths:
  /v1/device:
    get:
      operationId: getDevice
      parameters:
      - explode: true
        in: query
        name: LastUpdated
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimedDevicesDto'
          description: Success
      summary: Get all devices.
      tags:
      - Device
      x-accepts: application/json
    post:
      operationId: postDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRequest'
        description: The claim object.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Claim a new Fingoti device.
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /v1/device/{id}:
    delete:
      operationId: deleteDeviceId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Unclaim a Fingoti device.
      tags:
      - Device
      x-accepts: application/json
    get:
      operationId: getDeviceId
      parameters:
      - description: Device ID to query.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimedDeviceResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Forbidden
      summary: Get specified device.
      tags:
      - Device
      x-accepts: application/json
    patch:
      operationId: patchDeviceId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGateway'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Forbidden
      summary: Update your Fingoti device.
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /v1/device/{id}/nodes:
    get:
      operationId: getDeviceIdNodes
      parameters:
      - description: Device ID to query.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceNodesResponse'
          description: Success
      summary: Get all nodes latched to a gateway.
      tags:
      - Device
      x-accepts: application/json
  /v1/device/sendrequest:
    post:
      description: "The payload object varies depending on the property used, please\
        \ refer to our protocol documentation <a href=\"https://help.fingoti.com\"\
        >here</a> for more infomation. <br /> \r\nMultiple objects can be sent in\
        \ the request array and will be executed in order."
      operationId: postDeviceSendrequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
        description: The command object.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttDeviceResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Forbidden
      summary: Send a request to a Fingoti device.
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /v1/device/update:
    post:
      operationId: postDeviceUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MqttDeviceResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Initiate a device update.
      tags:
      - Device
      x-content-type: application/json
      x-accepts: application/json
  /v1/followings:
    get:
      operationId: getFollowings
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: followName
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: destination
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationFollowingResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all pin followings.
      tags:
      - Followings
      x-accepts: application/json
    post:
      operationId: postFollowings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFollowDto'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultWithId'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Create a new pin following.
      tags:
      - Followings
      x-content-type: application/json
      x-accepts: application/json
  /v1/followings/{id}:
    delete:
      operationId: deleteFollowingsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete a Pin Following. This is not recoverable.
      tags:
      - Followings
      x-accepts: application/json
    get:
      operationId: getFollowingsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationFollowingResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified pin following.
      tags:
      - Followings
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchFollowingsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchFollowRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update pin following.
      tags:
      - Followings
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation:
    get:
      operationId: getOrganisation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationResponse'
          description: Success
      summary: Get your Fingoti organisaiton information.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchOrganisation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrganisationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Update your Fingoti organisation.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
    post:
      operationId: postOrganisation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegiserOrganisationDto'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Register a new Fingoti organisation.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/addresses:
    get:
      operationId: getOrganisationAddresses
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: postcode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationAddressResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all addresses.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      operationId: postOrganisationAddresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAddressRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Create a new address.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/addresses/{id}:
    delete:
      operationId: deleteOrganisationAddressesId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete an address. This is not recoverable.
      tags:
      - Organisation
      x-accepts: application/json
    get:
      operationId: getOrganisationAddressesId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationAddressResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified address.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchOrganisationAddressesId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAddressRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update organisation address.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/users:
    get:
      operationId: getOrganisationUsers
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationUserResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all users.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      operationId: postOrganisationUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserDto'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Invite a new user to the organisation.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/users/{id}:
    delete:
      operationId: deleteOrganisationUsersId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Remove a user from the organisation.
      tags:
      - Organisation
      x-accepts: application/json
    get:
      operationId: getOrganisationUsersId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationUserResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specidfied user.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      operationId: patchOrganisationUsersId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRole'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update organisation user.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/roles:
    get:
      description: "0 = None, 1 = Read, 2 = Write"
      operationId: getOrganisationRoles
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: roleName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationRoleResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all roles.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      description: "0 = None, 1 = Read, 2 = Write"
      operationId: postOrganisationRoles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRoleRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultWithId'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Create a new role.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/roles/{id}:
    delete:
      operationId: deleteOrganisationRolesId
      parameters:
      - description: Role ID to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete a role. Role must not be assigned to any users. This is not
        recoverable.
      tags:
      - Organisation
      x-accepts: application/json
    get:
      description: "0 = None, 1 = Read, 2 = Write"
      operationId: getOrganisationRolesId
      parameters:
      - description: Role ID to get
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationRoleResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified role.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      description: "Fields that do not require updating can be omitted. 0 = None,\
        \ 1 = Read, 2 = Write"
      operationId: patchOrganisationRolesId
      parameters:
      - description: Role ID to update
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRoleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update organisation role.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/tenants:
    get:
      operationId: getOrganisationTenants
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: organisationNumber
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: organisationName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationTenantsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all tenants.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      operationId: postOrganisationTenants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegiserTenantDto'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterOrganisationResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Create new tenant. This is only available to partner organisations.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/partner:
    get:
      operationId: getOrganisationPartner
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationPartnerResponse'
          description: Success
      summary: Get partner information.
      tags:
      - Organisation
      x-accepts: application/json
  /v1/organisation/presets:
    get:
      operationId: getOrganisationPresets
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: presetNumber
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: presetName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationPresetResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all presets.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      operationId: postOrganisationPresets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPresetRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPresetResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Create a new preset.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/presets/{id}:
    delete:
      operationId: deleteOrganisationPresetsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete specified preset.
      tags:
      - Organisation
      x-accepts: application/json
    get:
      operationId: getOrganisationPresetsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationPresetResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified preset.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted.
      operationId: patchOrganisationPresetsId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPresetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update organisation preset.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/tokens:
    get:
      operationId: getOrganisationTokens
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: tokenName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all API tokens.
      tags:
      - Organisation
      x-accepts: application/json
    post:
      operationId: postOrganisationTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrganisationTokenDto'
        description: "User credentials. For a token to never expire, specify 0 for\
          \ the expiry"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSuccessResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Unauthorized
      summary: Generate new API token.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/organisation/tokens/{id}:
    delete:
      operationId: deleteOrganisationTokensId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete a Token. Token will no longer authenticate API requests. This
        is not recoverable.
      tags:
      - Organisation
      x-accepts: application/json
    get:
      operationId: getOrganisationTokensId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified token.
      tags:
      - Organisation
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted. AssignedUsers
        array must contain all users that are to be assigned to the token
      operationId: patchOrganisationTokensId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOrganisationTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update API token.
      tags:
      - Organisation
      x-content-type: application/json
      x-accepts: application/json
  /v1/report/usage:
    get:
      operationId: getReportUsage
      parameters:
      - description: ""
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageTrackingResponse'
          description: Success
      summary: Retrieve property usage statistics per day per device
      tags:
      - Report
      x-accepts: application/json
  /v1/report/{id}/commands:
    get:
      operationId: getReportIdCommands
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: direction
        required: false
        schema:
          $ref: '#/components/schemas/CommandDirection'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandLogResponse'
          description: Success
      summary: Retrieve command log
      tags:
      - Report
      x-accepts: application/json
  /v1/user:
    get:
      operationId: getUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProfileResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get your Fingoti user.
      tags:
      - User
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update Fingoti user.
      tags:
      - User
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: The returned token is a Register token and is used to register
        a new Organisation
      operationId: postUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserDto'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultWithToken'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Register a new Fingoti user.
      tags:
      - User
      x-content-type: application/json
      x-accepts: application/json
  /v1/user/sessions:
    get:
      operationId: getUserSessions
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSessionsResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all user sessions.
      tags:
      - User
      x-accepts: application/json
  /v1/user/organisations:
    get:
      operationId: getUserOrganisations
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: organisationName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalUserOrganisationsDto'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all organisations you are a member of.
      tags:
      - User
      x-accepts: application/json
  /v1/user/tokens:
    get:
      operationId: getUserTokens
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: tokenName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all API tokens.
      tags:
      - User
      x-accepts: application/json
    post:
      operationId: postUserTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUserTokenDto'
        description: "User credentials. For a token to never expire, specify 0 for\
          \ the expiry"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSuccessResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Unauthorized
      summary: Generate new API token.
      tags:
      - User
      x-content-type: application/json
      x-accepts: application/json
  /v1/user/tokens/{id}:
    delete:
      operationId: deleteUserTokensId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Delete a Token. Token will no longer authenticate API requests. This
        is not recoverable.
      tags:
      - User
      x-accepts: application/json
    get:
      operationId: getUserTokensId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified token.
      tags:
      - User
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchUserTokensId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserTokenRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update API token.
      tags:
      - User
      x-content-type: application/json
      x-accepts: application/json
  /v1/webhook:
    get:
      operationId: getWebhook
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: webhookNumber
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: property
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineWebhooksResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all registered webhooks.
      tags:
      - Webhook
      x-accepts: application/json
    post:
      operationId: postWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWebhookDto'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddWebhookResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Register a new webhook.
      tags:
      - Webhook
      x-content-type: application/json
      x-accepts: application/json
  /v1/webhook/{id}:
    delete:
      operationId: deleteWebhookId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
      summary: Delete a Webhook. This is not recoverable.
      tags:
      - Webhook
      x-accepts: application/json
    get:
      operationId: getWebhookId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineWebhookResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Get specified webhook.
      tags:
      - Webhook
      x-accepts: application/json
    patch:
      description: Fields that do not require updating can be omitted
      operationId: patchWebhookId
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWebhookRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Update Fingoti webhook.
      tags:
      - Webhook
      x-content-type: application/json
      x-accepts: application/json
  /v1/webhook/logs:
    get:
      operationId: getWebhookLogs
      parameters:
      - explode: true
        in: query
        name: PageNumber
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: ItemsPerPage
        required: false
        schema:
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: webhookNumber
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookLogsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Bad Request
      summary: Get all registered webhooks with call logs.
      tags:
      - Webhook
      x-accepts: application/json
  /v1/webhook/retry:
    post:
      operationId: postWebhookRetry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRetryRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Default'
          description: Not Found
      summary: Retry a webhook.
      tags:
      - Webhook
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    AddAddressRequest:
      additionalProperties: false
      example:
        country: country
        city: city
        county: county
        postcode: postcode
        line2: line2
        line1: line1
      properties:
        line1:
          type: string
        line2:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        county:
          nullable: true
          type: string
        postcode:
          type: string
        country:
          maxLength: 2
          minLength: 2
          type: string
      required:
      - country
      - line1
      - postcode
      type: object
    AddFollowDto:
      additionalProperties: false
      example:
        mirror: true
        followName: followName
        disabled: true
        sourceDevice: sourceDevice
        destinationPin: 6
        sourcePin: 0
        destinationDevice: destinationDevice
      properties:
        disabled:
          type: boolean
        followName:
          type: string
        sourceDevice:
          type: string
        sourcePin:
          format: int32
          type: integer
        destinationDevice:
          type: string
        destinationPin:
          format: int32
          type: integer
        mirror:
          type: boolean
      required:
      - destinationDevice
      - destinationPin
      - followName
      - sourceDevice
      - sourcePin
      type: object
    AddPresetRequest:
      additionalProperties: false
      example:
        password: password
        presetName: presetName
        disabled: true
        ssid: ssid
      properties:
        presetName:
          type: string
        disabled:
          type: boolean
        ssid:
          nullable: true
          type: string
        password:
          nullable: true
          type: string
      required:
      - presetName
      type: object
    AddPresetResult:
      additionalProperties: false
      example:
        success: true
        presetNumber: presetNumber
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
      properties:
        success:
          type: boolean
        message:
          nullable: true
          type: string
        id:
          format: uuid
          type: string
        presetNumber:
          nullable: true
          type: string
      type: object
    AddRoleRequest:
      additionalProperties: false
      example:
        schedule: 5
        webhook: 7
        partner: 9
        roleName: roleName
        organisation: 6
        rule: 5
        follow: 1
        device: 0
        user: 2
        billing: 3
      properties:
        roleName:
          type: string
        device:
          format: int32
          type: integer
        organisation:
          format: int32
          type: integer
        follow:
          format: int32
          type: integer
        rule:
          format: int32
          type: integer
        schedule:
          format: int32
          type: integer
        user:
          format: int32
          type: integer
        webhook:
          format: int32
          type: integer
        partner:
          format: int32
          type: integer
        billing:
          format: int32
          type: integer
      required:
      - roleName
      type: object
    AddWebhookDto:
      additionalProperties: false
      example:
        devices:
        - devices
        - devices
        webhookHeaders:
        - value: value
          key: key
        - value: value
          key: key
        disabled: true
        webhookUrl: webhookUrl
        properties:
        - properties
        - properties
      properties:
        disabled:
          type: boolean
        webhookUrl:
          type: string
        webhookHeaders:
          items:
            $ref: '#/components/schemas/WebhookHeaders'
          nullable: true
          type: array
        properties:
          items:
            type: string
          type: array
        devices:
          items:
            type: string
          type: array
      required:
      - devices
      - properties
      - webhookUrl
      type: object
    AddWebhookResult:
      additionalProperties: false
      example:
        success: true
        webhookNumber: webhookNumber
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message: message
      properties:
        success:
          type: boolean
        message:
          nullable: true
          type: string
        id:
          format: uuid
          type: string
        webhookNumber:
          nullable: true
          type: string
      type: object
    AllWebhooksDto:
      additionalProperties: false
      example:
        organisationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createdBy: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        devices:
        - devices
        - devices
        webhookNumber: webhookNumber
        webhookHeaders:
        - value: value
          key: key
        - value: value
          key: key
        disabled: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        triggers: 1
        createdOn: 2000-01-23T04:56:07.000+00:00
        properties:
        - properties
        - properties
        webhookUrl: webhookUrl
        lastCall: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          format: uuid
          type: string
        organisationId:
          format: uuid
          type: string
        disabled:
          type: boolean
        webhookNumber:
          nullable: true
          type: string
        createdBy:
          format: uuid
          type: string
        createdOn:
          format: date-time
          type: string
        triggers:
          format: int32
          type: integer
        properties:
          items:
            type: string
          nullable: true
          type: array
        webhookUrl:
          nullable: true
          type: string
        webhookHeaders:
          items:
            $ref: '#/components/schemas/WebhookHeaders'
          nullable: true
          type: array
        devices:
          items:
            type: string
          nullable: true
          type: array
        lastCall:
          format: date-time
          nullable: true
          type: string
      type: object
    AzureMessage:
      additionalProperties: false
      example:
        overflow:
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
        response:
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
        push:
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
        - result: ""
          serial: serial
          success: true
          property: property
          error: ""
      properties:
        push:
          items:
            $ref: '#/components/schemas/AzureMessageContent'
          nullable: true
          type: array
        response:
          items:
            $ref: '#/components/schemas/AzureMessageContent'
          nullable: true
          type: array
        overflow:
          items:
            $ref: '#/components/schemas/AzureMessageContent'
          nullable: true
          type: array
      type: object
    AzureMessageContent:
      additionalProperties: false
      example:
        result: ""
        serial: serial
        success: true
        property: property
        error: ""
      properties:
        success:
          nullable: true
          type: boolean
        serial:
          nullable: true
          type: string
        property:
          nullable: true
          type: string
        result:
          nullable: true
        error:
          nullable: true
      type: object
    CallLogDto:
      additionalProperties: false
      example:
        webhookId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        requestHeaders:
        - value: value
          key: key
        - value: value
          key: key
        requestBody: ""
        requestUrl: requestUrl
        webhookNumber: webhookNumber
        count: 1
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: null
        timestamp: 2000-01-23T04:56:07.000+00:00
        attempts:
        - responseHeaders:
          - value: value
            key: key
          - value: value
            key: key
          responseBody: responseBody
          responseDescription: responseDescription
          attempt: 7
          timestamp: 2000-01-23T04:56:07.000+00:00
          responseCode: 9
        - responseHeaders:
          - value: value
            key: key
          - value: value
            key: key
          responseBody: responseBody
          responseDescription: responseDescription
          attempt: 7
          timestamp: 2000-01-23T04:56:07.000+00:00
          responseCode: 9
      properties:
        id:
          format: uuid
          type: string
        webhookId:
          format: uuid
          type: string
        webhookNumber:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/WebhookStatus'
        timestamp:
          format: date-time
          nullable: true
          type: string
        requestUrl:
          nullable: true
          type: string
        requestHeaders:
          items:
            $ref: '#/components/schemas/WebhookHeaders'
          nullable: true
          type: array
        requestBody:
          nullable: true
        count:
          format: int32
          readOnly: true
          type: integer
        attempts:
          items:
            $ref: '#/components/schemas/WebhookAttempts'
          nullable: true
          type: array
      type: object
    ClaimRequest:
      additionalProperties: false
      example:
        serial: serial
      properties:
        serial:
          type: string
      required:
      - serial
      type: object
    ClaimResult:
      additionalProperties: false
      example:
        claimExpiry: 2000-01-23T04:56:07.000+00:00
        success: true
        claimCode: claimCode
        deviceKey: deviceKey
        message: message
      properties:
        success:
          type: boolean
        message:
          nullable: true
          type: string
        claimCode:
          nullable: true
          type: string
        claimExpiry:
          format: date-time
          nullable: true
          type: string
        deviceKey:
          nullable: true
          type: string
      type: object
    ClaimedDeviceResponse:
      additionalProperties: false
      example:
        success: true
        pebl:
          gateway:
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            uart:
              mode: 9
              data:
              - 5
              - 5
              session: true
              setup:
                baudrate: 9
                stopbits: 9
                parity: 8
                databits: 6
              trigger:
                length: 6
                terminator:
                - 3
                - 3
              timestamp: 2000-01-23T04:56:07.000+00:00
            claim:
              date: 2000-01-23T04:56:07.000+00:00
              code: code
              expiry: 2000-01-23T04:56:07.000+00:00
              complete: true
            partNumber: partNumber
            id: id
            systemOs: systemOs
            i2c:
              address: 6
              data:
              - - 1
                - 1
              - - 1
                - 1
              setup:
                scan: true
                speed: 2
              detect:
              - 6
              - 6
              timestamp: 2000-01-23T04:56:07.000+00:00
            device:
              bus:
                protocol: 1
              activity: true
              session: null
              blink:
                state: 1
              version:
                software: software
                hardware: hardware
              uptime:
                boot: 2000-01-23T04:56:07.000+00:00
              cloud:
                connected: true
                reason: null
                enabled: true
              colour:
              - 7
              - 7
              name: name
              location:
                country: country
                city: city
                countryCode: countryCode
                latitude: 1.1730742509559433
                longitude: 4.965218492984954
              power:
                current: 1
                source: 7
                voltage: 6
              support:
                enabled: true
              key: key
            gpio:
              state:
              - 5
              - 5
              direction:
              - 5
              - 5
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            uart:
              mode: 9
              data:
              - 5
              - 5
              session: true
              setup:
                baudrate: 9
                stopbits: 9
                parity: 8
                databits: 6
              trigger:
                length: 6
                terminator:
                - 3
                - 3
              timestamp: 2000-01-23T04:56:07.000+00:00
            claim:
              date: 2000-01-23T04:56:07.000+00:00
              code: code
              expiry: 2000-01-23T04:56:07.000+00:00
              complete: true
            partNumber: partNumber
            id: id
            systemOs: systemOs
            i2c:
              address: 6
              data:
              - - 1
                - 1
              - - 1
                - 1
              setup:
                scan: true
                speed: 2
              detect:
              - 6
              - 6
              timestamp: 2000-01-23T04:56:07.000+00:00
            device:
              bus:
                protocol: 1
              activity: true
              session: null
              blink:
                state: 1
              version:
                software: software
                hardware: hardware
              uptime:
                boot: 2000-01-23T04:56:07.000+00:00
              cloud:
                connected: true
                reason: null
                enabled: true
              colour:
              - 7
              - 7
              name: name
              location:
                country: country
                city: city
                countryCode: countryCode
                latitude: 1.1730742509559433
                longitude: 4.965218492984954
              power:
                current: 1
                source: 7
                voltage: 6
              support:
                enabled: true
              key: key
            gpio:
              state:
              - 5
              - 5
              direction:
              - 5
              - 5
        vyne:
          node:
          - address:
              static: true
              value: 7
            data:
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
            identify: true
            firstSeen: 2000-01-23T04:56:07.000+00:00
            version:
              software: software
              hardware: hardware
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            pin:
            - 0
            - 0
            enable: true
            name: name
            setup: 3
            partNumber: partNumber
            location:
              port: null
              position: 3
            id: id
            power:
              current: 1
              source: 7
              voltage: 6
            gatewayId: gatewayId
          - address:
              static: true
              value: 7
            data:
              value: value
              timestamp: 2000-01-23T04:56:07.000+00:00
            identify: true
            firstSeen: 2000-01-23T04:56:07.000+00:00
            version:
              software: software
              hardware: hardware
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            pin:
            - 0
            - 0
            enable: true
            name: name
            setup: 3
            partNumber: partNumber
            location:
              port: null
              position: 3
            id: id
            power:
              current: 1
              source: 7
              voltage: 6
            gatewayId: gatewayId
          gateway:
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            node:
              detect:
              - address: 6
                serial: serial
              - address: 6
                serial: serial
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            claim:
              date: 2000-01-23T04:56:07.000+00:00
              code: code
              expiry: 2000-01-23T04:56:07.000+00:00
              complete: true
            partNumber: partNumber
            id: id
            systemOs: systemOs
            device:
              cloud:
                connected: true
                reason: null
                enabled: true
              brightness: 5
              activity: true
              session: null
              name: name
              temperature: 6
              location:
                country: country
                city: city
                countryCode: countryCode
                latitude: 1.1730742509559433
                longitude: 4.965218492984954
              power:
                current: 1
                source: 7
                voltage: 6
              support:
                enabled: true
              version:
                software: software
                hardware: hardware
              key: key
              uptime:
                boot: 2000-01-23T04:56:07.000+00:00
            gpio:
              state:
              - 5
              - 5
              direction:
              - 5
              - 5
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            node:
              detect:
              - address: 6
                serial: serial
              - address: 6
                serial: serial
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            claim:
              date: 2000-01-23T04:56:07.000+00:00
              code: code
              expiry: 2000-01-23T04:56:07.000+00:00
              complete: true
            partNumber: partNumber
            id: id
            systemOs: systemOs
            device:
              cloud:
                connected: true
                reason: null
                enabled: true
              brightness: 5
              activity: true
              session: null
              name: name
              temperature: 6
              location:
                country: country
                city: city
                countryCode: countryCode
                latitude: 1.1730742509559433
                longitude: 4.965218492984954
              power:
                current: 1
                source: 7
                voltage: 6
              support:
                enabled: true
              version:
                software: software
                hardware: hardware
              key: key
              uptime:
                boot: 2000-01-23T04:56:07.000+00:00
            gpio:
              state:
              - 5
              - 5
              direction:
              - 5
              - 5
      properties:
        success:
          type: boolean
        pebl:
          $ref: '#/components/schemas/DevicePeblDto'
        vyne:
          $ref: '#/components/schemas/DeviceVyneDto'
      type: object
    ClaimedDevicesDto:
      additionalProperties: false
      example:
        lastUpdated: 2000-01-23T04:56:07.000+00:00
        ownedDeviceCount: 1
        organisationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        claimPendingCount: 6
        success: true
        count: 0
        pebl:
          gateway:
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            uart:
              mode: 9
              data:
              - 5
              - 5
              session: true
              setup:
                baudrate: 9
                stopbits: 9
                parity: 8
                databits: 6
              trigger:
                length: 6
                terminator:
                - 3
                - 3
              timestamp: 2000-01-23T04:56:07.000+00:00
            claim:
              date: 2000-01-23T04:56:07.000+00:00
              code: code
              expiry: 2000-01-23T04:56:07.000+00:00
              complete: true
            partNumber: partNumber
            id: id
            systemOs: systemOs
            i2c:
              address: 6
              data:
              - - 1
                - 1
              - - 1
                - 1
              setup:
                scan: true
                speed: 2
              detect:
              - 6
              - 6
              timestamp: 2000-01-23T04:56:07.000+00:00
            device:
              bus:
                protocol: 1
              activity: true
              session: null
              blink:
                state: 1
              version:
                software: software
                hardware: hardware
              uptime:
                boot: 2000-01-23T04:56:07.000+00:00
              cloud:
                connected: true
                reason: null
                enabled: true
              colour:
              - 7
              - 7
              name: name
              location:
                country: country
                city: city
                countryCode: countryCode
                latitude: 1.1730742509559433
                longitude: 4.965218492984954
              power:
                current: 1
                source: 7
                voltage: 6
              support:
                enabled: true
              key: key
            gpio:
              state:
              - 5
              - 5
              direction:
              - 5
              - 5
          - wifi:
              credentials:
              - credentials
              - credentials
              detect:
              - ssid: ssid
                signal: 9
              - ssid: ssid
                signal: 9
              status:
                slot: null
                signal: 7
            lastMessage:
              overflow:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              response:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              push:
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
              - result: ""
                serial: serial
                success: true
                property: property
                error: ""
            systemVersion: systemVersion
            network:
              ip:
                public: public
                dns: dns
                local: local
                gateway: gateway
                dhcp: true
                mask: mask
              mac:
                station: station
                ap: ap
            lastUpdated: 2000-01-23T04:56:07.000+00:00
            timer:
              request:
              - payload: ""
                property: property
                operation: null
              - payload: ""
                property: property
                operation: null
              interval: 2
              status:
                repeat: true
                enabled: true
            schedule:
              setup:
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
              - cron: cron
                request:
                - payload: ""
                  property: property
                  operation: null
                - payload: ""
                  property: property
                  operation: null
                slot: 4
                status:
                  enabled: true
            mqtt:
              session: true
              certificate: true
              setup:
                qos: 3
                port: 2
                host: host
                retain: true
                secure: true
                username: username
              status:
                enabled: true
            uart:
              mode: 9
              data:
              - 5
              - 5
              session: true
              setup:
                baudrate: 9
                stopbits: 9
                parity: 8
[...]
